<!DOCTYPE html>
<html>

<head>
    <title>Temperature and Humidity Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="bg-gradient-primary">
    <!-- New Table for Statistical Information -->
    <div class="col-12 mt-4">
        <div class="card shadow">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Statistical Information</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Day in Egg Cycle</th>
                            <th>Average Temperature (F)</th>
                            <th>Temperature Standard Deviation</th>
                            <th>Average Humidity (%)</th>
                            <th>Humidity Standard Deviation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data.egg_cycle_data %}
                        <tr>
                            <td>{{ data['Day in Egg Cycle'] }}</td>
                            <td>{{ data['Average Temperature (F)'] }}</td>
                            <td>{{ data['Temperature Standard Deviation'] }}</td>
                            <td>{{ data['Average Humidity (%)'] }}</td>
                            <td>{{ data['Humidity Standard Deviation'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">Historical Data (Last 48)</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Temperature (F)</th>
                                    <th>Humidity(%)</th>
                                    <th>Temperature Relay Status</th>
                                    <th>Humidity Relay Status</th>
                                    <th>Last Egg Turn</th>
                                    <th>Day in Egg Cycle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data.historical_data %}
                                <tr>
                                    <td>{{ data.Time }}</td>
                                    <td>{{ data["Temperature(F)"] }}</td>
                                    <td>{{ data["Humidity(%)"] }}</td>
                                    <td>{{ data["Temperature Relay Status"] }}</td>
                                    <td>{{ data["Humidity Relay Status"] }}</td>
                                    <td>{{ data["Last Egg Turn"] }}</td>
                                    <td>{{ data["Day in Egg Cycle"] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>